@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('../Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('../Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: 'Satoshi', sans-serif;
}

body {
  margin: 0;
  background-color: #efefef;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite; /* 10 seconds per loop, smooth and infinite */
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.animate-fadeIn {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.z-31, .z-32, .z-33 {
  transition: transform 4s ease;
}

.image-container {
  position: relative;
  width: 300px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  perspective: 1000px;
}

.image {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5) rotateX(90deg); /* Start from a collapsed, tilted position */
  opacity: 0; /* Hidden initially */
  transition: transform 1s ease, opacity 1s ease;
}

.image.animate {
  transform: translate(-50%, -50%) scale(1) rotateX(0); /* Final position */
  opacity: 1;
}
